<article class="post">
      <div class="title">
        <h3>{{title}}</h3>
        <h5> Posted On: {{format_date created_at}}</h5>
        <p>{{post_text}}</p>
      </div>
      <div class="meta">
         <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>
