



<div class="relative flex flex-col ">
  <div class="w-4/5 p-6 m-auto mt-10 border-black-600 rounded shadow-lg shadow-black-800/50 bg-cyan-600">
    <section>
      <h2 class="text-2xl font-bold">Blog Posts</h2>
      <ol class="post-list">
        {{#each posts as |post|}}
        <li>
          <article class="post">
            <div class="title block text-lg font-bold text-black bg-white border rounded-md p-3 mt-3 mb-3">
              <a href="/post/{{id}}">{{post.title}}</a>
              <div class="text-sm font-light">
                Posted by {{post.user.username}} on {{format_date created_at}}
              </div>
              <div class="font-medium text-base">
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
            </div>

          </article>
        </li>
        {{/each}}
      </ol>
    </section>
  </div>
</div>



