{{#if posts.length}}
<section class="grid grid-cols-7">
  <div class="col-start-2 col-end-7">
    <div class="bg-black shadow rounded-lg mt-16 mb-6 p-4 w-full ">
      <h2 class="text-white text-2xl font-bold">User Posts</h2>
      <br>
      <ol>
        {{#each posts as |post|}}

        <li
          class=" focus:outline-none  w-full rounded-lg p-1 text-sm bg-gray-100 border border-transparent appearance-none rounded-tg placeholder-gray-400">
          <a href="/posts/{{post.id}}" class="font-medium text-lg">{{title}}</a>
          <br>
          <span>{{post_text}}</span><br>
          <span> by {{user.username}} on
            {{format_date created_at}}</span><br>
          <span><a href="/posts/{{post.id}}"">{{comments.length}} {{format_plural " comment" comments.length}}</a></span>
        </li>
        <br>
        {{/each}}
      </ol>
    </div>
  </div>
</section>
{{/if}}



